* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(11, 1, 64);
    color: white;
    font-family: sans-serif;
}

main hr {
    border: 2.1px;
    background: rgb(175 170 248 / 43%);
    height: 1.2px;
}


header {
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 80px;
        color: white;
        background-color: rgb(50 14 103 / 49%);
    }

    nav ul {
        display: flex;
        justify-content: center;

    }

    nav ul li {
        list-style: none;
        margin: 0 23px;

    }

    nav ul li a {
        text-decoration: none;
        color: white;

    }

    nav ul li a:hover {
        color: rgb(170, 170, 248);
        font-size: 1.02rem;
    }

    .left {
        font-size: 1.5rem;
    }

}

main {

    .firstsection {
        text-align: center;
        margin-top: 50px;
    }

    .secondsection {
        color: white;
        text-align: left;
        font-size: 40px;
        text-align: center;
        margin-top: 50px;
    }

    .about {
        text-align: center;
        font-size: 36px;
        margin-top: 0px;
        padding: 70px;

    }

    .purple1 {
        color: rgb(177, 110, 239)
    }

    #element {
        color: rgb(177, 110, 239)
    }

    .headingone {
        text-align: center;
        font-size: 50px;
        margin-top: 50px;
    }

    .purple2 {
        color: rgb(177, 110, 239)
    }

    .purple3 {
        color: rgb(177, 110, 239)
    }

    .headingtwo {
        text-align: center;
        font-size: 50px;
        margin-top: 50px;
    }

    .third {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        padding: 20px;
    }

    .html-img {
        height: fit-content;
    }

    .html {
        background-color: rgb(243 229 245 / 19%);
        ;
        text-align: center;
        width: 250px;
        height: 100px;
        font-size: 40px;
        border-radius: 10px
    }

    .css-img {
        height: 80px;
        content: center;
    }

    .css {
        background-color: rgb(243 229 245 / 19%);
        text-align: center;
        width: 250px;
        height: 100px;
        font-size: 40px;
        border-radius: 10px
    }

    .js-img {
        height:fit-content ;
    }

    .js {
        background-color: rgb(243 229 245 / 19%);
        text-align: center;
        width: 250px;
        height: 100px;
        font-size: 40px;
        border-radius: 10px
    }

    .fourth {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        padding: 20px;
    }

    .react-img {
        height:fit-content ;
    }

    .react {
        background-color: rgb(243 229 245 / 19%);
        text-align: center;
        width: 250px;
        height: 100px;
        font-size: 40px;
        border-radius: 10px
    }

    .mongodb-img {
        height: fit-content;
    }

    .mongodb {
        background-color: rgb(243 229 245 / 19%);
        text-align: center;
        width: 250px;
        height: 100px;
        font-size: 30px;
        border-radius: 10px
    }

    .cpp-img {
        height: fit-content;
    }

    .cpp {
        background-color: rgb(243 229 245 / 19%);
        text-align: center;
        width: 250px;
        height: 100px;
        font-size: 40px;
        border-radius: 10px
    }
}

footer {
    background-color: rrgb(55 28 80 / 47%);
}

.footer ul {
    list-style: none;
}

.logo {
    display: flex;
    padding: 23px 232px;
    justify-content: space-evenly;
    
}

.text-center {
    background-color: rgb(25 6 46 / 63%);
    padding: 12px;
    text-align: center;
}
